@model UpdateProductImageDto

@{
	ViewData["Title"] = "ProductImageDetail";
	Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
	<div class="row">

		<div class="col-md-12">
			<div class="chart-box">
				<h4>Ürüne Ait Görselleri Güncelleme Sayfası</h4>
				<br />
				<div class="bs-example" data-example-id="bordered-table">
					<form method="post">
						<input type="hidden" asp-for="ProductImageId" />
						<input type="hidden" asp-for="ProductId" />
						<label>Ürüne Ait Görseller</label>
						@if (Model?.ProductImageList != null && Model.ProductImageList.Any())
						{
							@for (int i = 0; i < Model.ProductImageList.Count; i++)
							{
								<input type="text" class="form-control" asp-for="@Model.ProductImageList[i]" />
								<br />
							}
						}
						<button class="btn btn-primary">Ürün Görsellerini Güncelle</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>